{% extends 'base.html' %}

{% block title %}
Predictions
{% endblock %}

{% block body %}
<br>
    <h1>Finding Closest Movies</h1>
    <hr style = "height:2px;border-width:0;color:white ;background-color: white; margin-left:2px;margin-right:65px">
    <p>We need a measure of "distance" between movies !, how do we do this ? one way to go would be to first plot the movies in the feature space 
        and then find the Euclidean distance between them. This is a very simple way to do it, but it is not the best way to do it. For example, if 
        Ram and Shyam both watched Movie A and Movie B , and both of them rated Movie A twice as much as Movie B, then this means that Movie A and Movie B
        actually are quite similar to each other , but Ram gave Movie A a rating of 2.5, while Shyam gave it 5 stars!. All this actually means is that Ram is a tough 
        Rater, and Shyam is a very easy Rater. Euclidean distance cannot capture this information, since it looks at the absolute differences in ratings.
        Therefore, we need to find a way to combine the ratings of the two users to find a measure of similarity between the two movies.
    </p>
    <h2> The Euclidean Similarity</h2>
    <hr style = "height:2px;border-width:0;color:white ;background-color: white; margin-left:2px;margin-right:65px">
    This page will give you the <b> 4 </b> closest movies <b>(k = 5)</b> using the euclidean distance between the movies ! (We  will just find the distance between the <b>tips</b>  of these two vectors) 
    Remember that these distances <b>will</b> capture the true similarity of movies, but do not capture the differences in ratings between tough
    and easy raters. 
    <br>
    \[ ES(\vec{m_i},\vec{m_j}) = \sqrt{\sum_{k=1}^{k=610}(r_{ik} - r_{jk})^2} = ||\vec{m_i}- \vec{m_j}|| \]
    \[ \text{Distance of movie i from movie j} = d_{ij} = ES(\vec{m_i},\vec{m_x}) \]
    <div class = "d-flex align-items-center justify-content-center">
        <form action = '/euclidean', method="post">
            <input type="text" name="movieID" placeholder="Enter the Movie ID">
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <br>
    {% if show_details == 1 %}
    <h3> Closest Movies to the movie {{movieselected}}</h3>
    <div>
        <table class = "table table-hover table-dark">
          <thead>
              <tr>
                  
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col",style= "text-align:center">Distances from Selection</th>
          </thead>
          <tbody>
              
              {% for item in items %}
                  <tr>
                      <td>{{ id[loop.index -1] }}</td>
                      <td>{{ item }}</td>
                      <td>{{ distances[loop.index-1] }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
      {% endif %}
{% endblock %}